.left2right {
  width: 100%;
  line-height: 22px;
  display: flex;
  margin-bottom: 10px;
}

.left2right>.left {
  width: 120px;
  color: #555;
  font-weight: 600;
  text-align: right;
}

.left2right>.right {
  flex: auto;
  color: #777;
  margin-left: 15px;
}

.public_main {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  background-color: rgba(246, 249, 252, 1);
  position: relative;
}

.list_operation {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.paixu {
  width: 100%;
  height: auto;
  line-height: 48px;
  background: rgba(224, 229, 246, 1);
  border-radius: 4px;

}

.paixu span {
  display: block;
  float: left;
  margin-top: 10px;
  background-color: rgba(84, 126, 245, 1);
  width: 4px;
  height: 30px;
  border-radius: 5px;
}

.paixu p {
  color: rgba(84, 126, 245, 1);
  font-size: 16px;
  margin-left: 20px;
}

.search {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin: 18px 0;
  padding: 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}

.search .search-input {
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search .search-input>span {
  padding: 0 5px;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search-input .button-color {
  background-color: #1D7BFF;
  border-color: #547ef6;
}

.table_opr {
  color: #547ef6;
  cursor: pointer;
  margin: 0 5px;
}


.tabControl > .tab_title {
  width: 100%;
  height: 60px;
  display: flex;
}

.tabControl > .tab_title>li {
  height: 100%;
  padding: 0 20px;
  text-align: center;
  line-height: 60px;
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tabControl .tab_title>li span {
  display: block;
  height: 40px;
  line-height: 40px;
}

.tabControl .tab_title>li.active span {
  border-bottom: 2px solid #547afe;
}

.tabControl > .tab_content {
  width: 100%;
  height: auto;
}

.tabControl .tab_content > li {
  width: 100%;
  padding: 20px;
}

.tabControl .tab_content .tab_content_oneType .oneType_line {
  margin-bottom: 26px;
  display: flex;
}

.tabControl .tab_content .tab_content_oneType .oneType_line p {
  width: 25%;
  line-height: 22px;
  display: flex;
  margin-bottom: 10px;
}

.tabControl .tab_content .tab_content_oneType .oneType_line p span:nth-child(1) {
  white-space: nowrap;
  color: #555;
  font-weight: 600;
}

.tabControl .tab_content .tab_content_oneType .oneType_line p span:nth-child(2) {
  flex: auto;
  color: #777;
  margin-left: 15px;
  word-break: break-all;
}

.bank-table {
  background-color: #fff;
  border: 1px solid #ddd;
}

.bank-table>tr {
  width: 100%;
}

.bank-table>tr>th {
  height: 40px;
  text-align: center;
  background-color: #1D7BFF;
  color: #fff;
}

.bank-table>tr>td {
  height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  word-break: break-all;
}

.tabs {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.tabs .tabs_title {
  width: 100%;
  display: flex;
}

.tabs .tabs_title li {
  height: 100%;
  margin: 10px 20px;
  text-align: center;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tabs .tabs_title li span {
  display: block;
  padding-bottom: 10px;
}

.tabs .tabs_title .active {
  border-bottom: 2px solid #547afe;
}

.tabs .tabs_main {
  width: 100%;
  height: auto;
}

.tabs .tabs_main li {
  width: 100%;
  padding: 20px;
}

.tabs .tabs_main li .oneLineHasOne {
  width: 100%;
  margin-bottom: 26px;
}

.tabs .tabs_main li .oneLineHasOne p {
  width: 100%;
  line-height: 22px;
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
}

.tabs .tabs_main li .oneLineHasOne p span:first-child {
  font-weight: 600;
  white-space: nowrap;
  color: #555;
}

.tabs .tabs_main li .oneLineHasOne p span:nth-child(2),
.tabs .tabs_main li .oneLineHasOne p span:nth-child(3),
.tabs .tabs_main li .oneLineHasOne p span:nth-child(4) {
  flex: auto;
  color: #777;
  margin-left: 15px;
  word-break: break-all;
}

.tabs .tabs_main li .oneLineHasThree {
  width: 100%;
  margin-bottom: 26px;
  display: flex;
}

.tabs .tabs_main li .oneLineHasThree p {
  width: 33%;
  line-height: 22px;
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
}

.tabs .tabs_main li .oneLineHasThree p span:first-child {
  font-weight: 600;
  white-space: nowrap;
  color: #555;
}

.tabs .tabs_main li .oneLineHasThree p span:nth-child(2),
.tabs .tabs_main li .oneLineHasThree p span:nth-child(3) {
  flex: auto;
  color: #777;
  margin-left: 15px;
  word-break: break-all;
}

.tabs .tabs_main li .oneType-1 {
  width: 80%;
}

.tabs .tabs_main li .oneType-2 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}