$color1:#1D7BFF;
$color2:#333;
$color3:#555;
$color4:#777;
@mixin flex-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin p-span {
  p{
    line-height: 24px;
    span:nth-child(1){
      white-space: nowrap;
      color: $color1;
      font-size: 16px;
    }
    span:nth-child(2),span:nth-child(3),span:nth-child(4){
      color: $color2;
      font-size: 16px;
      margin: 0 10px;
      word-break: break-all;
    } 
  }
}

@mixin p-span2($width) {
  p{
    width: $width;
    line-height: 22px;
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    span:first-child{
      font-weight: 600;
      white-space: nowrap;
      color: $color3;
    }
    span:nth-child(2),span:nth-child(3),span:nth-child(4){
      flex: auto;
      color: $color4;
      margin-left: 15px;
      word-break: break-all;
    } 
  }
}

// .left2right{
//   width: 100%;
//   line-height: 22px;
//   display: flex;	
//   margin-bottom: 10px;
//   &>.left{
//     width: 120px;
//     color: #555;
//     font-weight: 600;
//     text-align: right;
//   }
//   &>.right{
//     flex: auto;
//     color: #777;
//     margin-left: 15px;
//   }			
// }
// .public_main {
//   width: 100%;
//   height: auto;
//   padding: 20px 30px;
//   background-color: rgba(246, 249, 252, 1);
//   position: relative;
// }

// .list_operation{
//   width: 100%;
//   height: auto;
//   background-color: #ffffff;
//   margin-top: 18px;
//   display: flex;
//   flex-wrap: wrap;
//   padding: 10px;
//   .button-color{
//     background-color: #1D7BFF;
//     border-color: #547ef6;
//   }
// }

// .paixu {
//   width: 100%;
//   height: auto;
//   line-height: 48px;
//   background: rgba(224, 229, 246, 1);
//   border-radius: 4px;
//   span {
//     display: block;
//     float: left;
//     margin-top: 10px;
//     background-color: rgba(84, 126, 245, 1);
//     width: 4px;
//     height: 30px;
//     border-radius: 5px;
//   }
//   p {
//     color: rgba(84, 126, 245, 1);
//     font-size: 16px;
//     margin-left: 20px;
//   }
// }

// .search {
//   width: 100%;
//   height: auto;
//   background-color: #ffffff;
//   margin: 18px 0;
//   padding: 14px;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   justify-content: space-between;
//   .search-input {
//     height: 50px;
//     display: flex;
//     align-items: center;
//     margin-right: 10px;
//     & > span {
//       padding: 0 5px;
//       font-size: 14px;
//       white-space: nowrap;
//       @include flex-cen;
//     }
//     .button-color{
//       background-color: #1D7BFF;
//       border-color: #547ef6;
//     }
//   }
// }

// .table_opr{
//   color:#547ef6;
//   cursor:pointer;
//   margin: 0 5px;
// }

/*
  详情相关
*/
// .tabControl{
//   width: 100%;
//   height: auto;
//   background-color: #fff;
//   margin-bottom: 40px;
//   .tab_title{
//     width: 100%;
//     height: 60px;
//     display: flex;
//     li{
//       height: 100%;
//       padding: 0 20px;
//       text-align: center;
//       line-height: 60px;
//       color: #000;
//       display: flex;
//       align-items: center;
//       cursor: pointer;
//       span{
//         display: block;
//         height: 40px;
//         line-height: 40px;
//       }
//     }
//     .active{
//       span{
//         border-bottom: 2px solid #547afe;
//       }
//     }
//   }
//   .tab_content{
//     width: 100%;
//     height: auto;
//     li{
//       width: 100%;
//       padding: 20px;
//     }
//     .tab_content_oneType{
//       .oneType_line{
//         margin-bottom: 26px;
//         display: flex;
//         p{
//           width: 25%;
//           line-height: 22px;
//           display: flex;	
//           margin-bottom: 10px;
//           span:nth-child(1){
//             white-space: nowrap;
//             color: #555;
//             font-weight: 600;
//           }
//           span:nth-child(2){
//             flex: auto;
//             color: #777;
//             margin-left: 15px;
//             word-break: break-all;
//           } 
//         }
//       }
//     }
//   }
// }