<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .threeTable {
            text-align: center;
            margin-top: 20px;
            margin-left: 40px;
        }

        .tablrtr {
            height: 40px;
        }

        .tabletd {
            width: 100px;
        }
        .tableth {
            width: 100px;
            background-color: #f2f6fc;
        }
    </style>
</head>

<body>
    <table class="threeTable" border="1" cellpadding="0" cellspacing="0" style="border-color:#F2F6FC">
        <tr class="tablrtr">
            <th class="tableth">111</th>
            <th class="tableth">222</th>
        </tr>
        <tr class="tablrtr">
            <td class="tabletd">333</td>
            <td class="tabletd">444</td>
        </tr>
    </table>
</body>

</html>